body, html {
    padding: 0;
    margin: 0;  
}

.image {
    width: 300px;
}

#map {
    position: relative;
    z-index: 2;
    width: 300px;
    margin-top: -10px;
    padding-top: 0px;
}

ul.suggestions {
    z-index: 2;
}

.mapboxgl-map {
    overflow: visible;
    z-index: 2;
}

.mapboxgl-compact {
    display: none;
}

header{
  background: #590d0d;
  color: white;
  height: 25vh;
  padding: 35px;
}

footer
{
  background: #590d0d;
  color: white;
  height: 15vh;
  padding: 30px;
  bottom: 0;
}


